.backImg{
    background-image: url("../Images/BikeImg.png");
    background-repeat: no-repeat;
    background-size:100% 100%;
   
    
}
 .card2{
    border: 1px solid rgb(212, 207, 207);
     margin: 50px;
}
.textHeading1{
    color: white;
    text-align: center;
    text-decoration: underline;
    
}
#boxes1{
    border-radius: 0px;
    margin-left: -20px;
    
}
.box{
    margin-left: -30px;
    color: white;
}
